{% extends 'base.html.twig' %} {% block title %}Hello RulesController!{% endblock %} {% block body %}
<h1 class=" underline text-5xl text-center my-5">Build & buy - Conditions générales d'utilisation</h1>

<p class="mb-2 mx-3">Les présentes conditions générales régissent l'utilisation de ce site www.yugioh-build-buy. </p>
<p class="mb-2 mx-3">Ce site appartient et est géré par PIPEREL Bastien</p>
<p class="mb-2 mx-3">En utilisant ce site, vous indiquez que vous avez lu et compris les conditions d'utilisation et que vous acceptez de les respecter en tout temps </p>
<p class="mb-2 mx-3">type de site : e-commerce </p>
<h2 class="underline text-2xl text-center my-5">Propriété intellectuelle</h2>
<p class="mb-2 mx-3">Tout contenu publié et mis à disposition sur ce site est la propriété de Piperel Bastien et de ses créateurs. cela comprends, mais n'est pas limité aux images, texte, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition
    de ce site
</p>
<h2 class="underline text-2xl text-center my-5">Restriction d'age</h2>
<p class="mb-2 mx-3"> L'age minimum pour utiliser ce site est de 16 ans . Les utilisateurs conviennent qu'en utilisant notre site, ils ont plus de 16ans. Nous n'assumons aucunes responsabilité juridique pour les fausses déclaration d'âge.
</p>
<h2 class="underline text-2xl text-center my-5">Comptes</h2>
<p class="mb-2 mx-3">Lorsque vous créez un compe sur notre site, vous acceptez ce qui suit :
</p>
<p class="mb-2 mx-3">
    1 - que vous êtes le seul responsable de votre compte et de la sécurité/confidentialité de votre compte, y compris les mot de passe ou renseignement de nature délicate joint a ce cmpte et
</p>
<p class="mb-2 mx-3">
    2- que tous les renseignements personnels que vous nous fournissez par l'entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez à jour vos renseignements personnels s'ils changent
</p>
<p class="mb-2 mx-3">
    Nous nous réservons le droit de suspendre ou de resilier votre compte si vous utilisez notre site illégalement ou si vous violez les conditions d'utilisation acceptables
</p>

<h2 class="underline text-2xl text-center my-5">Ventes des biens et services</h2>
<p class="mb-2 mx-3">
    Ce document régit la vente des biens mis a disposition sur notre site :
</p>
<p class="mb-2 mx-3">
    Les biens que nous offrons comprennent :
</p>
<p class="mb-2 mx-3">
    - Cartes yu-gi-oh!
</p>
<p class="mb-2 mx-3">
    Les biens liés à ce document sont des biens qui sont affichés sur notre site au moment où vous y accédez. Cela comprend tous les produits énumérés comme étant en rupture de stock.
</p>
<p class="mb-2 mx-3">
    Toutes les informations, descriptions ou images que nous fournissons sur nos biens sont décrites et présentées avec la plus grande precision possible. Cependant, nous ne sommes pas légalement tenu par ces informations.
</p>
<p class="mb-2 mx-3">
    Vou acceptez d'acheter ces biens à vos propres risques.
</p>

<h2 class="underline text-2xl text-center my-5">Paiements</h2>
<p class="mb-2 mx-3">
    Nous acceptons les modes de paiement suivants sur ce site :
</p>
<p class="mb-2 mx-3">
    - Carte bancaire
</p>
<p class="mb-2 mx-3">
    - Paypal
</p>
<p class="mb-2 mx-3">
    Lorsque vous nous fournissez vos renseignement de paiement, vous nous confirmez que vous avez autorisé l'utilisation et l'accès à l'instrument de paiement que vous avez choisi d'utiliser.

</p>
<p class="mb-2 mx-3">
    En nous fournissant vos details de paiement vous confirmez que vous nous autorisez à facturer le montant du à cet instrument de paiement.
</p>
<p class="mb-2 mx-3">
    Si nous estimons que votre paiement a violé une loi ou l'une de nos conditions d'utilisation, nous nous réservons le droit d'annuler votre transaction.
</p>

<h2 class="underline text-2xl text-center my-5">transport et livraison</h2>
<p class="mb-2 mx-3">
    Vous vous engagez à fournir une adresse email et d'expedition valide pour la commande. Nous nous reservons le droit de modifier, rejeter ou annuler votre commande. Dans le cas d'un paiement déjà effectué, nous vous rembourserons la somme équivalent au
    débit effectué. vous convenez qu'il vous incombe de surveiller votre mode de paiement.
</p>
<h2 class="underline text-2xl text-center my-5">limitation de responsabilité</h2>
<p class="mb-2 mx-3">
    Piperel Bastien ou l'un de ses employés sera tenu responsable de tout problème découlant de ce site. Néammoins , Piperel Bastien et ses employés ne seront pas tenu responsable de tout problèmes découlant d'une utilisation irrégulière de ce site.
</p>
<h2 class="underline text-2xl text-center my-5">Indemnité</h2>
<p class="mb-2 mx-3">
    En tant qu'utilisateur vous indemnisez par les présente, Piperel bastien de toute responsabilité, de tout cout, de toute cause d'action, de tout dommage ou de toute depense découlant de votre utilisation de ce site ou de votre violation d'une des dispositions
    énoncées dans le présent document
</p>
<h2 class="underline text-2xl text-center my-5">Loi applicables</h2>
<p class="mb-2 mx-3">
    Ce document est soumis aux lois applicables en France et vise à se conformer à ses règles et règlement nécessaires. Cela inclut la réglementation à l'échelle de l'UE énoncée dans le RGPD.
</p>

<h2 class="underline text-2xl text-center my-5">Divisibilité</h2>
<p class="mb-2 mx-3">
    Si a tout moment, l'une des dispositions énoncées dans le present document est jugée incompatible en vertu des loi applicables, ces dispositions seront considérées comme nulles et seront reitrées du document.
</p>

<h2 class="underline text-2xl text-center my-5">Modifications</h2>
<p class="mb-2 mx-3">
    Ces conditions générales peuvent etre modifiées à tout moment afin de maintenir le respect de la loi et de refléter tout changement à la facon dont nous gérons notre site et la façon dont nous nous attendons à ce que les utilisateurs se comportent sur
    notre site.
</p>

<h2 class="underline text-2xl text-center my-5">Contact</h2>
<p class="mb-2 mx-3">
    Veuillez communiquer avec nous si vous avez des questions à l'adresse suivante :
</p>
<p class="mb-2 mx-3">
    bastienpiperel@gmail.com
</p>


{% endblock %}