{% extends 'base.html.twig' %} {% block title %}Hello Admin!{% endblock %} {% block body %}



<h1 class=" underline text-5xl text-center my-5">Build & buy - Conditions générales de vente</h1>

<p class="mb-2 mx-3">Il est préalablement précisé que les présentes conditions régissent les ventes de tous les produits de la Boutique en ligne de YU-GI-OH build&Buy (www.ygo-build-buy.com). Ces conditions s’appliquent à l’exclusion de toutes autres conditions, notamment
    celles en vigueur pour les ventes en magasin si un magasin ouvre dans le futur.
</p>
<p class="mb-2 mx-3">
    Le Client déclare être une personne physique non commerçante. Le dropshipping est interdit.
</p>
<p class="mb-2 mx-3">
    Toute commande implique du Client l'adhésion irrévocable aux Conditions Générales de Vente, étant précisé que les parties conviennent que leurs relations seront régies exclusivement par celles-ci, constituant le contrat.
</p>
<p class="mb-2 mx-3">
    Toute prise de commande au titre d'un produit figurant sur le Site suppose la consultation préalable des présentes conditions générales. En conséquence, le Client reconnaît être parfaitement informé du fait que son accord concernant le contenu des Conditions
    Générales de Vente ne nécessite pas la signature manuscrite de ce document, dans la mesure où le Client souhaite commander en ligne les produits présentés sur le Site.
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 1 - PRIX</h2>
<p class="mb-2 mx-3">
    1.1 - Les prix de nos produits sont indiqués en Euros toutes taxes comprises hors participation aux frais de traitement et d'expédition (sauf signalisation contraire de notre part).
</p>
<p class="mb-2 mx-3">
    1.2 - Toutes les commandes quelle que soit leur origine sont payables en Euros.
</p>
<p class="mb-2 mx-3">
    1.3 - Buid&buy se réserve le droit de modifier ses prix à tout moment mais les produits seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement des commandes sous réserve de disponibilité, et sous réserve que votre paiement nous
    arrive sous une semaine à compter de la date d’enregistrement de votre commande. Les produits demeurent la propriété de Buid&buy jusqu'au complet paiement du prix.
</p>
<p class="mb-2 mx-3">
    1.4 - Le site internet www.ygo-build-buy.com peut effectuer la détaxe automatique (exonération de la TVA) pour les clients résidents situés dans un état non membre de l'Union Européenne. Seules les commandes en ligne depuis le site internet avec une livraison
    sont concernées. Pour Bénéficier de la détaxe automatiquement, vous devez renseigner le pays de livraison dans le panier et de bien indiquer le pays éligible à la détaxe dans l'adresse de livraison. Les commandes en retrait magasin ou en boutique
    ne sont pas concernées. Sont concerné par la détaxe :
</p>
<p class="mb-2 mx-3">
    Les Territoires d'exportation incluant les États hors Union européenne. Les DROM (ex DOM) : Département et région d'outre-mer (Martinique, Guadeloupe, Guyane, Réunion, Mayotte). Les COM (ex TOM) : Collectivité d'outre-mer (Polynésie française, Saint-Pierre
    et Miquelon, Wallis-et-Futuna, Saint-Martin, Saint-Barthélemy), La Nouvelle-Calédonie. Les Secteurs Postaux (Armée uniquement pour les militaires en OPEX) Andorre
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 2 - COMMANDE</h2>
<p class="mb-2 mx-3">
    Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation reprenant ces informations contractuelles au plus tard au moment de la livraison. Buid&buy se réserve le droit d'annuler toute commande d'un client
    avec lequel il existerait un litige relatif au paiement d'une commande antérieure ou d'un impayé. Pour les clients de la France Métroplitaine, nous offrons les frais de port dès que le montant des produits présents dans le panier dépasse les 70 euros.
    Pour les autres pays, une réduction des frais de ports sera proposé.
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 3 - VALIDATION</h2>
<p class="mb-2 mx-3">
    Quand vous cliquez sur le bouton "Valider ma commande", vous déclarez accepter celle-ci ainsi que l'intégralité des présentes Conditions Générales de Vente pleinement et sans réserve.
</p>
<p class="mb-2 mx-3">
    Les données enregistrées par Buid&buy constituent la preuve de l'ensemble des transactions passées par Buid&buy et ses clients.
</p>
<p class="mb-2 mx-3">
    Les données enregistrées par le système de paiement constituent la preuve des transactions financières.
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 4 - DISPONIBILITE</h2>
<p class="mb-2 mx-3">
    Nos offres de produits et prix sont valables tant qu’ils sont visibles sur le site, dans la limite des stocks disponibles.
</p>
<p class="mb-2 mx-3">
    Nos offres sont valables sous réserve de disponibilité chez nos fournisseurs. Pour tous les modes de paiement, nous ne garantissons pas la disponibilité des produits. Si une rupture de stock venait à arriver, nous vous rembourserions l’intégralité des
    produits manquants ou nous vous proposerons une solution convenant aux deux parties.
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 5 - LIVRAISON</h2>
<p class="mb-2 mx-3">
    5.1 - Les produits sont livrés à l'adresse de livraison que vous avez indiquée.
</p>
<p class="mb-2 mx-3">
    5.2 - En cas d'articles livrables à des dates différentes compte tenu de leur disponibilité (Précommandes), le délai de livraison est basé sur le délai le plus long. Buid&buy ne pourra être tenu responsable des conséquences dues à un retard de livraison.
    En cas de retard inhabituel (Problème avec le transporteur ou changement de la date de sortie du produit par le fabricant), un mail vous sera adressé.
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 6 - PAIEMENT</h2>
<p class="mb-2 mx-3">
    Nous vous rappelons que le fait de valider votre commande implique l’obligation à votre charge de payer le prix indiqué. Le règlement de vos achats s'effectue par :
</p>
<p class="mb-2 mx-3">
    Carte Bancaire : Visa, MasterCard et autres cartes bancaires (le débit de la carte s'effectue à la validation de la commande). Avec le 3D Secure (ou Verified by visa ou MasterCard SecureCode), votre banque vérifie au moment du paiement votre identité.
    Le procédé d'identification etant spécifique à chaque banque, veuillez vérifier auprès de votre banque le procédé d'authentification utilisé.
</p>
<p class="mb-2 mx-3">
    PayPal
</p>

<h2 class="underline text-2xl text-center my-5">ARTICLE 7 : SECURISATION</h2>
<p class="mb-2 mx-3">
    Les transactions par carte bancaire sur www.ygo-build-buy.com se font sur le serveur de notre banque et sont totalement sécurisées. L'accès à votre compte via mot de passe est sécurisé (HTTPS via chiffrage)
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 8 - SATISFAIT OU REMBOURSE</h2>
<p class="mb-2 mx-3">
    8.1 - Vous disposez, dans un délai de 14 jours francs à compter de la livraison de votre commande.
</p>
<p class="mb-2 mx-3">
    Les retours sont à effectuer à : Buid&buy 12 rue de quelque part 91330 Yerres France
</p>
<p class="mb-2 mx-3">
    Les frais de retour sont à votre charge.
</p>
<p class="mb-2 mx-3">
    8.2 - Les articles retournés incomplets, abîmés, endommagés ou salis par le client ou par le transporteur ne sont pas repris.
</p>
<p class="mb-2 mx-3">
    8.3 - Nous nous engageons à vous rembourser, ou à vous échanger les produits ne correspondant pas à votre commande (défectueux ou non conformes). Dans ce cas nous vous remercions de bien vouloir en faire état de manière détaillée sur le bon de commande
    et de nous renvoyer le ou les produits. yugioh-buid-buy procédera à l'échange ou au remboursement du ou des produits.
</p>
<p class="mb-2 mx-3">
    8.4 - Ces remboursements seront effectués dans un délai inférieur ou égal à 14 jours après la réception des produits par nos soins. Le remboursement s'effectuera par le même moyen de paiement de la commande.
</p>
<p class="mb-2 mx-3">
    8.5 - Concernant les colis non retirés, une pénalité de 5 euro est appliqué pour frais de retour en cas de dépassement de délais de garde ou d'un colis refusé.
</p>
<p class="mb-2 mx-3">
    8.6 - Concernant un remboursement de commande avec Paypal, une pénalité de 5 € sera retenue.
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 9 - SERVICE CLIENTELE</h2>
<p class="mb-2 mx-3">
    Pour toute information ou question, notre service clientèle est à votre disposition :
</p>
<p class="mb-2 mx-3">
    Téléphone: 06.49.21.95.77
</p>
<p class="mb-2 mx-3">
    Email : bastienpiperel@gmail.com
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 10 - RESPONSABILITE</h2>
<p class="mb-2 mx-3">
    Les produits proposés sont conformes à la législation française en vigueur. La responsabilité de YU-GI-OH build&Buy ne saurait être engagée en cas de non respect de la législation du pays où les produits est livré (interdiction d'un titre...).
</p>
<p class="mb-2 mx-3">
    Il vous appartient de vérifier auprès des autorités locales les possibilités d'importation ou d'utilisation des produits ou services que vos envisagez de commander.
</p>
<p class="mb-2 mx-3">
    Les photographies et les textes reproduits et illustrant les produits présentés ne sont pas contractuels. En conséquence, la responsabilité de yugioh-buid-buy ne saurait être engagée en cas d'erreur dans l'une de ces photographies ou l'un de ces textes.
</p>
<p class="mb-2 mx-3">
    yugioh-buid-buy ne saurait être tenu pour responsable de l'inexécution du contrat conclu en cas de rupture de stock ou indisponibilité du produit, de force majeure, de perturbation ou grève totale ou partielle notamment des services postaux et moyens
    de transport et/ou communications, inondation, incendie.
</p>
<p class="mb-2 mx-3">
    yugioh-buid-buy n'encourra aucune responsabilité pour tous dommages indirects du fait des présentes, perte d'exploitation, perte de profit, perte de chance, dommages ou frais.
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 11 - DROIT APPLICABLE - LITIGES</h2>
<p class="mb-2 mx-3">
    Le présent contrat est soumis à la loi française.
</p>
<p class="mb-2 mx-3">
    La langue du présent contrat est la langue française.
</p>
<p class="mb-2 mx-3">
    En cas de litige les tribunaux Français seront seuls compétents.
</p>
<h2 class="underline text-2xl text-center my-5">ARTICLE 12 - INFORMATIONS NOMINATIVES</h2>
<p class="mb-2 mx-3">
    Buid&buy s'engage à ne pas divulguer à des tiers les informations que vous lui communiquez sauf auprès de ces partenaires commerciaux si vous en avez exprimez la volonté lors de la transmission de vos coordonnées à YU-GI-OH build&Buy.
</p>
<p class="mb-2 mx-3">
    Elles seront aussi utilisées par ses services internes, pour le traitement de votre commande et pour renforcer et personnaliser la communication et l'offre produit réservées aux clients de YU-GI-OH build&Buy, notamment par les lettres d'informations de
    la YU-GI-OH build&Buy dans le cadre de la personnalisation de la boutique.
</p>
<p class="mb-2 mx-3">
    En conséquence, conformément à la loi informatique et libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification, et d'opposition aux données personnelles vous concernant. Pour cela il suffit de nous en faire la demande en ligne ou
    par courrier en nous indiquant vos nom, prénom, adresse et si possible votre référence client à : Buid&buy 12 rue de quelque part 91330 Yerres France.
</p>
<p class="mb-2 mx-3">
    Notre site est également conçu pour être particulièrement attentif aux besoins de nos clients. C'est pour cela que nous faisons usage de cookies. Le cookie a pour but de signaler votre passage sur notre site. Les cookies ne sont donc utilisés par Buid&buy
    que dans le but d'améliorer le service personnalisé qui vous est destiné concernant le fonctionnement du Panier.
</p>
{% endblock %}