{% extends 'base.html.twig' %} {% block title %}Hello Admin!{% endblock %} {% block body %}
<h1 class=" underline text-5xl text-center my-5">ENGAGEMENT DE CONFIDENTIALITE POUR LES PERSONNES AYANT </h1>

<h2 class="underline text-2xl text-center my-5"> VOCATION A MANIPULER DES DONNEES A CARACTERE PERSONNEL : </h2>

<p class="mb-2 mx-3">Les employés de Yu-Gi-Oh Build&By étant à ce titre amené/e à accéder à des données à caractère personnel, déclarent reconnaître la confidentialité desdites données.
</p>
<p class="mb-2 mx-3">
    La société s’engage par conséquent, conformément aux articles 34 et 35 de la loi du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés ainsi qu’aux articles 32 à 35 du règlement général sur la protection des données du 27
    avril 2016, à prendre toutes précautions conformes aux usages et à l’état de l’art dans le cadre de nos attributions afin de protéger la confidentialité des informations auxquelles nous avons accès, et en particulier d’empêcher qu’elles ne soient
    communiquées à des personnes non expressément autorisées à recevoir ces informations.
</p>
<p class="mb-2 mx-3">
    Nous nous engagons en particulier à :
</p>
<p class="mb-2 mx-3 my-4">
    - ne pas utiliser les données auxquelles nous pouvons accéder à des fins autres que celles prévues par nos attributions ;
</p>
<p class="mb-2 mx-3 my-4">
    - ne divulguer ces données qu’aux personnes dûment autorisées, en raison de leurs fonctions, à en recevoir communication, qu’il s’agisse de personnes privées, publiques, physiques ou morales ;
</p>
<p class="mb-2 mx-3 my-4">
    - ne faire aucune copie de ces données sauf à ce que cela soit nécessaire à l’exécution de nos fonctions;
</p>
<p class="mb-2 mx-3 my-4">
    - prendre toutes les mesures conformes aux usages et à l’état de l’art dans le cadre de nos attributions afin d’éviter l’utilisation détournée ou frauduleuse de ces données ;
</p>
<p class="mb-2 mx-3 my-4">
    - prendre toutes précautions conformes aux usages et à l’état de l’art pour préserver la sécurité physique et logique de ces données ;
</p>
<p class="mb-2 mx-3 my-4">
    - nous assurer assurer, dans la limite de nos attributions, que seuls des moyens de communication sécurisés seront utilisés pour transférer ces données ;
</p>
<p class="mb-2 mx-3 my-4">
    - en cas de cessation de nos fonctions, restituer intégralement les données, fichiers informatiques et tout support d’information relatif à ces données.
</p>
<p class="mb-2 mx-3">
    Cet engagement de confidentialité, en vigueur pendant toute la durée de nos fonctions, demeurera effectif, sans limitation de durée après la cessation de nos fonctions, quelle qu’en soit la cause, dès lors que cet engagement concerne l’utilisation et
    la communication de données à caractère personnel.
</p>
<p class="mb-2 mx-3">

    Nous avons été informé que toute violation du présent engagement m’expose à des sanctions disciplinaires et pénales conformément à la réglementation en vigueur, notamment au regard des articles 226-16 à 226-24 du code pénal.
</p>

{% endblock %}