{% extends 'base.html.twig' %} {% block title %}Hello Admin!{% endblock %} {% block body %}


<h1 class=" underline text-5xl text-center my-5">LES COOKIES</h1>

<p class="mb-2 mx-3">Cette rubrique est consacrée à notre politique de gestion des cookies sur le Site. Elle vous permet d’en savoir plus sur l’origine et l'usage des informations de navigation traitées à l'occasion de votre consultation de notre site internet et sur vos
    droits.</p>


<h2 class="underline text-2xl text-center my-5">1 - QU’EST-CE QU’UN COOKIE ?</h1>

    <p class="mb-2 mx-3">Un cookie est un petit fichier texte qui demande la permission d’être placé sur le disque dur de votre ordinateur par les sites Internet que vous consultez. Ils sont largement utilisés pour faire fonctionner plus efficacement les sites Internet. Certains
        de ces cookies sont nécessaires au fonctionnement du site Internet. D’autres ont pour fonction de vous identifier et, en fonction de votre navigation, d’aider nos équipes à améliorer le Site.
    </p>
    <p class="mb-2 mx-3">
        Un cookie ne peut pas donner accès à des informations vous concernant que vous ne souhaitez pas partager. Un cookie a une durée de vie limitée et est supprimé par votre navigateur une fois celle-ci expirée. Seule la société qui dépose le cookie est susceptible
        de lire ou de modifier les informations contenues dans ce cookie.
    </p>

    <h2 class="underline text-2xl text-center my-5">2 - FINALITÉS ET TYPE DE COOKIES </h1>
        <p class="mb-2 mx-3">
            Différents cookies sont utilisés pour des finalités différentes. Les cookies les plus courants sont les suivants :
        </p>
        <p class="mb-2 mx-3">
            Cookies nécessaires au fonctionnement du service (ou « essentiels ») ou aux fonctionnalités du site Ces cookies sont obligatoires pour le fonctionnement du Site et de ses fonctionnalités et, à ce titre, exemptés du recueil du consentement
        </p>
        <p class="mb-2 mx-3">
            Cookies dits de « mesure d’audience »
        </p>
        <p class="mb-2 mx-3">
            Ces cookies sont utilisés pour mesurer l'audience du Site, ou bien pour tester des versions différentes afin d'optimiser ses choix éditoriaux en fonction de leurs performances respectives. Dans certains cas, ces cookies peuvent être regardés comme « essentiels
            » nécessaires à la fourniture du service explicitement demandé par l'utilisateur, et ainsi être exemptés du recueil du consentement.
        </p>
        <p class="mb-2 mx-3">
            Cookies publicitaires
        </p>
        <p class="mb-2 mx-3">
            Ces cookies permettent d’afficher, en temps réel, le contenu le plus adapté à vos centres d’intérêt déduits de votre navigation récente sur un ou plusieurs sites, plutôt que des contenus qui n’ont aucun intérêt pour vous.
        </p>
        <p class="mb-2 mx-3">

            Ces contenus publicitaires (graphismes, animations, vidéos, etc.) sont susceptibles de contenir des cookies émis par Yugioh-build-buy, par ses prestataires ou par des tiers (pour ces derniers) qui ont associé un cookie au contenu publicitaire d'un annonceur.
        </p>


        <h2 class="underline text-2xl text-center my-5">3 - LES RESPONSABILITÉS LIÉES AUX COOKIES</h1>
            <p class="mb-2 mx-3">
                o Les cookies de Yugioh-build-buy et ses sous-traitants Yugioh-build-buy est responsable de l'émission et de l'utilisation de cookies par ses soins sur le Site. Certains types de Cookies (« essentiels » ou de mesures d’audiences dans certains cas) sont
                exemptés du consentement.
            </p>
            <p class="mb-2 mx-3">
                o Les cookies émis par des sociétés tierces L'émission et l'utilisation de cookies par des tiers sur le Site (ex : Facebook, Critéo, etc.), sont soumises aux politiques de protection de la vie privée de ces tiers. Ces cookies ne sont pas indispensables
                à la navigation sur le Site.
            </p>
            <p class="mb-2 mx-3">
                Le Site intègre les technologies de partenaires publicitaires qui permettent la reconnaissance de votre terminal de connexion et les données relatives à votre navigation sur votre terminal de connexion afin d’afficher des publicités adaptées à vos centres
                d’intérêt en fonction de votre navigation.
            </p>
            <p class="mb-2 mx-3">
                Ces partenaires publicitaires collectent vos données de navigation pour :
            </p>
            <p class="mb-2 mx-3">
                - Nous permettre de vous proposer des publicités concernant nos produits ou services ou ceux des vendeurs Marketplace sur des sites et applications tiers ;
            </p>
            <p class="mb-2 mx-3">
                - Permettre aux marques et aux sites d’e-commerce de vous proposer des publicités concernant leurs produits ou services sur le Site.
            </p>
            <p class="mb-2 mx-3">
                Vous pouvez gérer le dépôt des cookies sur votre terminal de navigation conformément à la procédure décrite ci-après.
            </p>
            <p class="mb-2 mx-3">
                Yugioh-build-buy est susceptible de partager des Données telles que votre adresse email (cryptée en SHA 256) ou tout autre identifiant technique avec nos partenaires publicitaires afin d’établir un lien entre vos différents terminaux de connexion ou navigateurs
                internet et vous proposer une expérience homogène et continue sur ceux-ci.
            </p>
            <h2 class="underline text-2xl text-center my-5">4 - GÉRER LE DÉPOT DES COOKIES</h1>
                </p>
                <p class="mb-2 mx-3">
                    Nous recueillons votre consentement préalable au dépôt des cookies sauf pour les cookies « essentiels » et certains cookies de mesure d’audience. Vous pouvez faire le choix à tout moment d'exprimer et de modifier vos souhaits en matière de cookies.
                </p>
                <p class="mb-2 mx-3">
                    Attention : Tout paramétrage que vous pouvez entreprendre sur votre logiciel de navigation concernant l’acceptation ou le refus des cookies sera susceptible de modifier votre navigation sur Internet et vos conditions d'accès à certains services nécessitant
                    l'utilisation de ces mêmes cookies.
                </p>
                <p class="mb-2 mx-3">
                    Par exemple, en refusant certains cookies essentiels vous risquez de ne plus pouvoir passer commande sur notre site.
                </p>
                <p class="mb-2 mx-3">
                    Si vous choisissez de refuser l’enregistrement de cookies dans votre terminal ou si vous supprimez ceux qui y sont enregistrés, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l'impossibilité
                    pour nous d'enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.
                </p>





                {% endblock %}