{% extends 'base.html.twig' %} {% block title %}Hello Admin!{% endblock %} {% block body %}

<h1 class=" underline text-5xl text-center my-5">Build & buy - Qui sommes nous</h1>

<h2 class="underline text-2xl text-center my-5"> Yu-Gi-Oh Build & buy - un site e-commerce </h2>

<p class="mb-2 mx-3">> Yu-gi-oh Build & Buy est un site e-commerce mis en place pour permettre l'achat de cartes à jouer et a collectionner de la célèbre franchise Yu-gi-oh!
</p>
<p class="mb-2 mx-3">> Le projet à commencé le 8 mars 2021 et à pour objectif de créer un espace permettant à la communauté Francaise (et anglophone) de retrouver leur jeu favoris avec un affichage clair et facile d'utilisation.
</p>
<p class="mb-2 mx-3">> Le site est actuellement entièrement géré par Piperel Bastien.
</p>

{% endblock %}